* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sen", "Rubik", Arial, sans-serif;
}

.top-bar {
    position: fixed;
    display: flex;
    background-color: #F3F3FB;
    min-width: 450px;
    width: 100%;
}

.top-bar .logo-details {
    display: flex;
    width: 320px;
    height: 75px;
    align-items: center;
}

.top-bar .logo-details img {
    height: 45px;
    width: 45px;
    margin-left: 35px;
    transition: all .3s ease;
}

.top-bar .logo-details span {
    font-size: 26px;
    margin-left: 20px;
    transition: all .3s ease;
}

.top-bar .profile-details {
    position: relative;
    left: calc(100% - 580px);
    display: flex;
    height: 75px;
    align-items: center;
    transition: all .3s ease;
}

.profile-details li {
    display: flex;
    list-style: none;
    padding: 1px;
    border-radius: 10px;
}

.profile-details a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.profile-details li span {
    font-size: 24px;
    margin-left: 10px;
    color: #000;
    transition: all .3s ease;
}

.profile-details li i {
    font-size: 34px;
    color: #000;
    transition: all .3s ease;
}

.profile-details .profile {
    margin-left: 40px;
    margin-right: 10px;
}

.profile-details .profile:hover i {
    color: #4654EB;
}

.profile-details .profile:hover span {
    color: #4654EB;
}

.profile-details .log-out i:hover {
    color: #4654EB;
}

.sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    height: 100%;
    width: 320px;
}

.sidebar .nav-links {
    height: 100%;
    padding-top: 104px;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    border-radius: 0 18px 18px 0;
}

.sidebar .nav-links li:hover i {
    color: #4654EB;
}

.sidebar .nav-links li:hover span {
    color: #4654EB;
}


.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li i {
    height: 80px;
    padding-left: 40px;
    line-height: 80px;
    text-align: center;
    font-size: 45px;
    color: #000;
    transition: all .3s ease;
}

.sidebar .nav-links li span {
    margin-left: 20px;
    font-size: 25px;
    color: #000;
    transition: all .3s ease;
}

/* -----Основная зона----- */

.main-zone {
    position: fixed;
    display: flex;
    width: calc(100% - 320px);
    height: calc(100% - 124px);
    min-height: 630px;
    min-width: 250px;
    left: 320px;
    top: 100px;
    border-radius: 60px 0 0 60px;
    background-color: #F3F3FB;
    transition: all .3s ease;
}

.main-zone .top-label {
    position: absolute;
    display: flex;
    width: 100%;
    min-width: 350px;
    align-items: center;
    left: 30px;
    top: 30px;
}

.main-zone .top-label i {
    font-size: 30px;
    transition: all .2s ease;
}

.main-zone .top-label a:hover {
    color: #4654EB;
}

.main-zone .top-label a {
    position: absolute;
    left: calc(100% - 80px);
    color: #000;
    text-decoration: none;
}

.main-zone .top-label input {
    border: none;
    background: transparent;
    border-bottom: solid black .5px;
    outline: none;
    width: 200px;
    margin-left: 10px;
    font-size: 18px;
}

/* -----Таблица задач----- */

.main-zone .task-table {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 60px;
    left: 30px;
}

.main-zone .task-table tr {
    display: flex;
    min-height: 68px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-right: 40px;
    padding-right: 20px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 18px;
    font-size: 23px;
}

.main-zone .task-table tr td {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.main-zone .task-table tr td .task-name {
    margin-left: 12px;
}

.main-zone .task-table tr td .circle {
    background-color: #4654EB;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* -----Добавить задачу----- */

.main-zone .add-task-form {
    position: absolute;
    display: flex;
    width: 400px;
    height: 550px;
    left: calc(50% - 300px);
    top: 50px;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    transition: all .3s ease;
}

.main-zone .add-task-form form {
    width: 350px;
    height: 100%;
    display: inline-block;
}

.main-zone .add-task-form input {
    width: 100%;
    height: 30px;
    margin-top: 50px;
}
.main-zone .add-task-form .task-name {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: #000 solid .5px;
}

.main-zone .add-task-form #task {
    resize: none;
    height: 160px;
    width: 100%;
    margin-top: 50px;

}

/* -----Чат----- */

.main-zone .messages-container {
    position: absolute;
    width: calc(100% - 50px);
    height: calc(100% - 190px);
    top: 80px;
    left: 30px;
    padding-bottom: 10px;
    border-radius: 18px;
    overflow: auto;
    /* background-color: red; */
}

.main-zone .username {
    position: absolute;
    left: 10px;
    top: -20px;
    font-size: 15px;
}

.main-zone .timestamp {
    font-size: 15px;
    margin-top: 2px;
}

.main-zone .message {
    display: flex;
}

.main-zone .message .message-box {
    display: inline-grid;
    position: relative;
    /* background-color: #fff; */
    background: linear-gradient(53deg, #81b7e2,#b3eadd);
    border-radius: 15px;
    margin-top: 40px;
    margin-left: 20px;
    padding: 10px;
    min-width: 150px;
    max-width: 450px;
    min-height: 35px;
    font-size: 20px;
}

.main-zone .message .noauthor {
    margin-top: 7px;
}

.main-zone #message-form {
    position: absolute;
    align-self: flex-end;
    margin-bottom: 33px;
    left: 30px;
    width: 90%;
    /* background-color: red; */
}

#typing-indicator {
    position: relative;
    display: flex;
    padding-left: 10px;
    padding-bottom: 3px;
    /* background-color: red; */
}

#typing-label {
    margin-left: 6px;
}

#typing-indicator .dot {
    margin-left: 4px;
    /* transition: all .3s ease; */
    animation: dots-anim .6s infinite alternate-reverse ease;
}

#typing-indicator .dot1 {
    animation: dots-anim .6s infinite alternate-reverse ease .2s;
}

#typing-indicator .dot2 {
    animation: dots-anim .6s infinite alternate-reverse ease .4s;
}

@keyframes dots-anim {
    from {
        opacity: 80%;
    }
    to {
        opacity: 20%;
    }
}

.main-zone #message-form #message-input {
    border: none;
    width: 100%;
    height: 56px;
    padding: 10px;
    font-size: 20px;
    border-radius: 18px;
}


/* -----Профиль----- */

.main-zone .profile-info {
    position: absolute;
    display: flex;
    left: 50px;
    top: 30px;
    width: calc(100% - 100px);
    height: 310px;
    min-width: 520px;
    /* justify-content: space-between; */
    align-items: center;
}

.main-zone .profile-info .image {
    position: relative;
    display: flex;
    min-width: 310px;
    height: 300px;
    border-radius: 18px;
    justify-content: center;
    background-color: #fff;
}

.main-zone .profile-info .image .user-image {
    position: relative;
    width: 280px;
    height: 190px;
    background-color: #F3F3FB;
    border-radius: 18px;
    top: 16px;
}

.main-zone .profile-info .image a {
    position: absolute;
    display: flex;
    top: 240px;
    width: 280px;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 25px;
    border-radius: 18px;
    background-color: #F3F3FB;
    color: black
}

.main-zone .profile-info .description {
    position: relative;
    display: inline-block;
    left: 33px;
    width: calc(90% - 300px);
    min-width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 18px;
    padding-left: 33px;
    padding-right: 20px;
}

.main-zone .profile-info .description .main {
    position: relative;
    display: inline-block;
    margin-top: 16px;
    width: 100%;
    min-height: 70px;
    border-bottom: solid black .5px;
}

.main-zone .profile-info .description .main span {
    position: relative;
    display: block;
}
.main-zone .profile-info .description .main .name {
    font-size: 24px;
}
.main-zone .profile-info .description .main .mini-description {
    margin-top: 4px;
    font-size: 18px;
}
.main-zone .profile-info .description .main .status {
    position: absolute;
}

.main-zone .profile-info .description .secondary {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 70px;
}

.main-zone .profile-info .description .secondary ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.main-zone .profile-info .description .secondary ul .label {
    display: flex;
    margin-top: 20px;
}

.main-zone .profile-info .description .secondary ul .data {
    display: flex;
    margin-left: 20px;
    color: #4654EB;
}


@media (max-width: 1000px) {
    .main-zone {
        width: calc(100% - 100px);
        left: 100px;
    }
    .main-zone .add-task-form {
        left: 40px;
    }
    .sidebar {
        width: 100px;
    }
    .sidebar .nav-links li span {
        opacity: 0;
        pointer-events: none;
    }
    .sidebar .nav-links li i {
        padding-left: 23px;
    }
    .top-bar .logo-details span {
        opacity: 0;
    }
    .top-bar .logo-details img {
        margin-left: 23px;
    }
    .top-bar .profile-details {
        left: calc(100% - 450px)
    }
    .top-bar .profile-details li span {
        opacity: 0;
        pointer-events: none;
        margin-right: -100px;
    }
    .main-zone .my-message {
        display: flex;
        justify-content: flex-end;
    }
    .main-zone .my-message .message-box {
        background: linear-gradient(233deg, #81b7e2,#b3eadd);
    }
} 