{% extends 'base.html' %}

{% block content %}

<div class="main-zone">
  <div class="add-task-form">
    <form class="" method="POST" novalidate>
      {{ form.csrf_token }}
      <h2 class="headtext">Добавить задачу</h2>
      <div class="">
        {{ form.name(class="task-name", placeholder="Выполняющий") }}
      </div>
      <div class="">
        {{ form.task(placeholder="Текст задания") }}
      </div>
      <div class="">
        {{ form.deadline(class="task-deadline") }}
      </div>
      <div class="btns">
        {{ form.submit(class="btn") }}
        <span class="back-btn"><a href="/tasks">Назад</a></span>
      </div>
    </form>
  </div>
</div>
  
{% endblock %}