{% extends 'base.html' %}

{% block content %}

<div class="section_right">
    <div class="task-top-label">
            <box-icon name='search' class="search-icon"></box-icon>
            <input type="text" placeholder="Искать людей">
        </div>
    <div class="calendar_panel">
        <div class="calendar_sec">
            <span id="calendar_month">Месяц</span><br>
            <span id="calendar_year">Год</span>
        </div>
        <div class="calendar_tasks">

        </div>
    </div>    
</div>

{% endblock %}