{% extends 'base.html' %}

{% block content %}
    <div class="section_right">
        <div class="top-label">
            <div class="circle"></div>
            <span class="chat-label" >общий чат</span>
        </div>
        <div class="">
            <div class="card-body">
                {% for message in messages %}
                {% if message.author == current_user %}
                <div class="my-message-container">
                {% else %}
                <div class="other-message-container">
                {% endif %}
                    {% if loop.first or message.author.login != messages[loop.index0 - 1].author.login %}
                        <span class="username">{{ message.author.login }}</span>
                        <div class="message-box">
                    {% else %}
                        <div class="message-box-noauthor">
                    {% endif %}
                        <span class="chat-message">{{ message.text }}</span>
                    </div>
                    <span class="timestamp">{{ message.timestamp.strftime('%H:%M') }}</span>

                </div>
                {% endfor %}
                </div>

            <form id="message-form" action="{{ url_for('chat') }}" method="POST">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <div id="typing-indicator">
                <span id="typing-users"></span>
                <span id="typing-label"></span>
                <div class="dot"></div>
                <div class="dot dot1"></div>
                <div class="dot dot2"></div>
            </div>
            <div id="message-field">
                {{ form.message(id="message-input", placeholder="Написать сообщение...") }}
            </div>
            </form>
            </div>
        </div>
    </div>
    <!-- Это div нужны для передачи значений из Jinja в chat.js -->
    <div id="current_user_login" data-value="{{ current_user.login }}"></div> 
    <div id="previousUsername" data-value="{{ messages[-1].author.login }}"></div>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/js/chat.js"></script>
{% endblock %}