{% extends 'base.html' %}

{% block content %}

    <div class="section_right">
        <h2 class="menu-item"><img src="../static/images/search.png" alt="search" align="left" width="31" height="31">search people</h2>
        <div id="employees">
            <span class="department" style="font-size: 25px;">отдел 1</span><br>
            <span class="department" style="font-size: 25px;">направление 1</span>
            <ul>
                <li class="left">
                        <div class="content"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                        <p class="txt">you</p>
                </li>
                <li class="left">
                    <div class="content"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                    <p class="txt">you</p>
                </li>
                <li class="right">
                    <div class="content"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                    <p class="txt">you</p>
                </li>
                <li class="right">
                    <div class="content"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                    <p class="txt">you</p>
                </li>
                <li class="right">
                    <div class="content"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                        <p class="txt">you</p>
                </li>
                <li class="right">
                    <div class="content"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                        <p class="txt">you</p>
                 </li>
                <li class="right">
                    <div class="content"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                        <p class="txt">you</p>
                </li>
                <li class="right">
                    <div class="content"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                    <p class="txt">you</p>
                </li>
        </ul>
        </div>
        <div id="employees2">
            <span class="department2" style="font-size: 25px;">отдел 2</span><br>
            <span class="department2" style="font-size: 25px;">направление 2</span>
            <ul>
                <li class="left">
                        <div class="content2"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                        <p class="txt">you</p>
                </li>
                <li class="left">
                    <div class="content2"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                    <p class="txt">you</p>
                </li>
                <li class="right">
                    <div class="content2"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                    <p class="txt">you</p>
                </li>
                <li class="right">
                    <div class="content2"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                    <p class="txt">you</p>
                </li>
                <li class="right">
                    <div class="content2"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                        <p class="txt">you</p>
                </li>
                <li class="right">
                    <div class="content2"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                        <p class="txt">you</p>
                 </li>
                <li class="right">
                    <div class="content2"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                        <p class="txt">you</p>
                </li>
                <li class="right">
                    <div class="content2"><img src="../static/images/first_second_name_img.png" alt="">   </div>
                    <p class="txt">you</p>
                </li>
        </ul>
        </div>
    </div>
{% endblock %}