{% extends 'base.html' %}

{% block content %}

  <div class="section_right">
    <div class="task-top-label">
        <box-icon name='search' class="search-icon"></box-icon>
        <input type="text" placeholder="Искать задачу"></input>
        <a href={{ url_for("add_task") }} class=" add-task-button">
          <box-icon name='list-plus' class="icon"></box-icon>
        </a>
    </div>
    
    <div class="table">
      {% for task in tasks %}
      <div class="outer">
          <div class="inner-name">
              <div class="circle"></div>
              <span class="task-name">{{ task.name }}</span>
          </div>
          <div class="inner-text">{{ task.task_text|truncate(60) }}</div>
          <div class="inner-date">{{ task.deadline }}</div>
      </div>
      {% endfor %}
     </div>
    
  </div>

{% endblock %}