{% extends 'base.html' %}

{% block content %}

  <div class="section_right">
    <h2 class="menu-item"><img src="../static/images/search.png" alt="search" align="left" width="31" height="31">search chat</h2>
    <div class="table">
      {% for task in tasks %}
      <div class="outer">
          <div class="inner-image"><img src="../static/images/circle.png" alt="circle"><a>{{ task.name }}</a></div>
<!--          <li><div class="inner-name">{{ task.name }}</div></li>-->
          <div class="inner-text">{{ task.task_text|truncate(60) }}</div>
          <div class="inner-date">{{ task.deadline }}</div>
      </div>
      {% endfor %}
     </div>
    <a href={{url_for('add_task')}}>
      <button style="font-size: 1.2em;" class="add-task-button">
        <img src="../static/images/add.png" alt="search">
      </button>
    </a>
  </div>

{% endblock %}