{% extends 'base.html' %}

{% block content %}

  <div class="main-zone">
    <div class="top-label">
        <i class='bx bx-search' ></i>
        <input type="text" placeholder="Искать задачу"></input>
        <a href="add_task" class="add-task">
          <i class='bx bx-add-to-queue add-task-button'></i>
        </a>
    </div>
    <table class="task-table">
      {% for task in tasks %}
      <tr>
        <td>
          <div class="circle"></div>
          <span class="task-name">{{ task.name }}</span>
        </td>
        <td class="task-text">
          <div >{{ task.task_text }}</div>
        </td>
        <td>
          <div class="task-deadline">{{ task.deadline }}</div>
        </td>
      </tr>
      {% endfor %}
    </div>
  </div>

{% endblock %}