<div class="top-bar">
  <div class="logo-details">
    <img src="/static/images/site-logo.svg">
    <span class="logo-name">Manager Task</span>
  </div>
  <ul class="profile-details">
    <li class="log-out">
      <a href="/logout">
        <i class='bx bx-log-out' ></i>
      </a>
    </li>
    <li class="profile">
      <a href="/profile">
        <i class='bx bx-user' ></i>
        <span>Профиль</span>
      </a>
    </li>
  </ul>
</div>

<div class="sidebar">
  <ul class="nav-links">
    <li>
      <a href="/tasks">
        <i class='bx bx-task'></i>
        <span class="link-name">Задачи</span>
      </a>
    </li>
    <li>
      <a href="/chat">
        <i class='bx bx-chat' ></i>
        <span class="link-name">Чат</span>
      </a>
    </li>
    <li>
      <a href="/staff">
        <i class='bx bx-group' ></i>
        <span class="link-name">Сотрудники</span>
      </a>
    </li>
    <li>
      <a href="/calendar">
        <i class='bx bx-calendar' ></i>
        <span class="link-name">Календарь</span>
      </a>
    </li>
  </ul>
    
</div>

