<header>
    <div class="menu">
      <div class="head">
        <span class="top-icon">
          М
        </span>
        <span class="headtext">
          Manager Task
        </span>
      </div>
      <div class="menu-items">
        <a class="menu-item" href="{{url_for('index')}}">
          <box-icon name='task' class="icon"></box-icon>
          <span>Задачи</span>
        </a>
        <a class="menu-item" href="{{url_for('chat')}}">
          <box-icon name='chat' class="icon"></box-icon>
          <span>Чат</span>
        </a>
        <a class="menu-item" href="{{url_for('employees')}}">
          <box-icon name='group' class="icon"></box-icon>
          <span>Сотрудники</span>
        </a>
        <a class="menu-item" href="{{url_for('calendar')}}">
          <box-icon name='calendar' class="icon"></box-icon>
          <span>Календарь</span>
        </a>
        <a class="menu-item" href="{{url_for('profile')}}">
          <box-icon name='user' class="icon"></box-icon>
          <span>Профиль</span>
        </a>
      </div>
    </div>
  </header>