<header>
    <div class="menu">
      <div class="head">
        <span class="icon">
          М
        </span>
        <span class="headtext">
          Manager Task
        </span>
      </div>
      <div class="menu-items">
        <div class="menu-item">
          <img src="../static/images/tasks_img.png" alt="tasks">
          <span><a href={{url_for('index')}}>Задачи</a></span>
        </div>
        <div class="menu-item">
          <img src="../static/images/chat_img.png" alt="chat">
          <span><a href={{url_for('chat')}}>Чат</a></span>
        </div>
        <div class="menu-item">
          <img src="../static/images/employees_img.png" alt="employees">
          <span><a href="{{url_for('employees')}}">Сотрудники</a></span>
        </div>
        <div class="menu-item">
          <img src="../static/images/calendar_img.png" alt="calendar">
          <span>Календарь</span>
        </div>
        <div class="menu-item">
          <img src="../static/images/first_second_name_img.png" alt="first_second_name">
          <span><a href="{{url_for('profile')}}">Профиль</a></span>
        </div>
      </div>
    </div>
  </header>